<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .dashboard {
            margin-top: 56px;
        }
    </style>
</head>

<body>
    <header>
        <%- include('./header.ejs') %>
    </header>
    <div class="container-fluid dashboard">
        <div class="row">
            <div class="col-3 p-0">
                <%- include('./left-menu.ejs') %>

            </div>
            <div class="col-9 text-center">
                Welcome to admin panel
            </div>
        </div>
    </div>
</body>

</html>