<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About-Us</title>
  <link rel="stylesheet" href="./asserts/css/about_us.css">
</head>

<body>
  <!-- this include is used to add on the common header file -->
  <%- include('./common/header.ejs') %>

    <!-- contact navigation -->
    <div class="container-fluid">
      <div class="row about-navigation">
        <div class="col-12 mt-5">
          <h1 class="text-center text-white">About Us</h1>
          <h5 class="text-center text-white">Home/ About Us</h5>
        </div>
      </div>
    </div>

    <!-- this is basic declaration for website -->
    <section class="about-background">
      <div class="container" style="border: 1px solid red;">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-8"></div>
        </div>
      </div>
    </section>


    <!-- footer section design -->
    <%- include('./common/footer.ejs') %>
</body>

</html>