<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<!--font awesome-->

<!-- css file for footer -->
<link rel="stylesheet" href="../asserts/css/footer.css">
<!-- <section class="footer"> -->
<div class="container-fluid bg-dark text-white">
  <div class="row footer">
    <div class="col-lg-3 footer-section">
      <h2 class="footer-heading ">Book'Stop</h2>

      <p>
        Central Park, Sector 7, New Delhi, India
      </p>

      <p style="font-weight: 500;">
        +91-9385475635/ +91-7213583729
      </p>

      <p class="email">
        <a href="mailto:bookstop@gmail.com" class="text-decoration-none">bookstop@gmail.com</a>
      </p>
    </div>

    <div class="col-lg-3 footer-section">
      <h2 class="footer-heading ">Help</h2>

      <ul>
        <li>Search</li>
        <li>Help</li>
        <li>Information</li>
        <li>Privacy Policy</li>
      </ul>
    </div>

    <div class="col-lg-3 footer-section">
      <h2 class="footer-heading ">Support</h2>

      <ul>
        <li>Contact</li>
        <li>Order & Return</li>
        <li>About</li>
        <li>Share Location</li>
      </ul>
    </div>
  </div>

  <div class="row footer-icon mt-4 pb-3">
    <h2 class="footer-heading text-center">Social Links</h2>
    <p class="text-center">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/" target="_blank">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </p>
  </div>
</div>
<!-- </section> -->