<!-- In this we have included the buy now and wishlist option -->
<style>
    .items {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .items button {
        display: block;
        background-color: transparent;
        border: none;
        margin-bottom: 10px;
    }

    .items button i,
    .items a i {
        font-size: 25px;
        color: black;
    }
</style>


<div class="items">
    <button type="submit">
        <i class="fa-solid fa-heart"></i>
    </button>

    <button type="submit">
        <i class="fa-solid fa-cart-shopping"></i>
    </button>

    <!-- <a class="btn" href="" role="button">
        <i class="fa-solid fa-magnifying-glass"></i>
    </a> -->
</div>