*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ecece5 !important;
}

::-webkit-scrollbar{
    width: 12px; 
}

::-webkit-scrollbar-thumb{
    background-color:  #333333;
    border-radius:10px;
}
